<div class="container main" >
        <div class="row">
          <div class="col-lg-2 order-0 " style="height: 300px">
                <app-hang-section></app-hang-section>
          </div>
          <div class="column col-lg-8  order-1  offset-md-0.4 main-characters ">
               
               <app-characters-movie></app-characters-movie>
                
          <div class="main-bank  offset-md-2" >
                <app-characters-bank></app-characters-bank>
              </div>
        </div>
          <div class="col-lg-2 order-2" style="height: 300px;">
                <app-message></app-message>
          </div>
        </div>
      </div>